<!DOCTYPE html>
<html lang="en">
<h1>Add Head Of State</h1><br>
<form action="/addHeadOfState" method="POST">
    <label>Country Code</label>
    <input type="text" name="id"><br><br><br>
    <label>Head Of State</label>
    <input type="text" name="name"><br><br><br>
    <button onclick>Add</button><br><br><br>
</form>
<a href="/">Home</a>