<!--CSS Style for borders-->
<style>
    table, th, td{
        border: 1px solid black;
    }
    </style>
<!DOCTYPE html>
<html lang="en">
<h1>Heads Of State</h1><br>
<button onclick="window.location.href='/addHeadOfState'">Add Head Of State</button><br><br><br>


<table>
    <tr>
        <th>Country Code</th>
        <th>Head Of State</th>
    </tr>
<% stateData.forEach((headOfState) => { %>
    <tr>
        <td><%= headOfState._id %></td>
        <td><%= headOfState.headOfState %></td>
    </tr>
    <%}) %>
</table>
<br><br>

<a href="/">Home</a>