<!DOCTYPE html>
<html lang="en">

<body>
    
        <a href="/countries">List Countries</a>
        <br>
        <a href="/cities">List Cities</a>
        <br>
        <a href="/headOfState">List Heads Of States</a>
    
</body>

</html>